In [38]:
import pymysql

#database connection
connection = pymysql.connect(host="localhost", user="root", passwd="", database="uas_daa")
cursor = connection.cursor()

# queries for retrievint all rows
retrive = "Select * from barang;"

#executing the quires
cursor.execute(retrive)
rows = cursor.fetchall()
for row in rows:
   print(row)


#commiting the connection then closing it.
connection.commit()
connection.close()

(1, 'sampoerna mild', 'rokok', 35, 22000, 25000)
(2, 'kapal api', 'minuman', 100, 11000, 1100)

In [39]:
import pymysql

#database connection
connection = pymysql.connect(host="localhost", user="root", passwd="", database="uas_daa")
cursor = connection.cursor()

# queries for inserting values
insert1 = "INSERT INTO barang(id_barang, nama_barang, jenis_barang, stok_barang, harga_beli, harga_jual) VALUES('2', 'kapal api', 'minuman', '100', '11000', '1100' );"

#executing the quires
cursor.execute(retrive)
rows = cursor.fetchall()
for row in rows:
   print(row)

#commiting the connection then closing it.
connection.commit()
connection.close()

(1, 'sampoerna mild', 'rokok', 35, 22000, 25000)
(2, 'kapal api', 'minuman', 100, 11000, 1100)

In [46]:
import mysql.connector as sql

import pandas as pd

db_connection = sql.connect(host='localhost', database='uas_daa', user='root', password='')

db_cursor = db_connection.cursor()

db_cursor.execute('SELECT * FROM barang')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

NameError: name 'barang' is not defined